.scale {
  display: inline;

  position: relative;
  top: -6px;
  /* top abziehen*/
}

.scale_times {
  margin-right: 1em;
  text-align: right;
  height: 30px;
  font-size: 12px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.scale_times:nth-child(odd) {
  font-weight: 800;
}
