.day_container {
  border-radius: 15px;
  display: flex;
  width: 70rem;
  margin: 25px auto;
  background: rgb(243, 243, 243);
  min-height: 20em;
  justify-content: center;
  padding: 20px;
}
.container_dayView {
  display: flex;
}
